/* Device width */

$tablet-width: 768px;
$desktop-width: 1024px;

/* Font sizes */

$font-tiny: 0.5rem;
$font-small: 0.75rem;
$font-upper-small: 0.875;
$font-medium: 1rem;
$font-upper-medium: 1.25rem;
$font-large: 1.5rem;
$font-upper-large: 1.75rem;
$font-huge: 2rem;
