.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  box-shadow: 0 5px 5px $shadow-color;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0;
  }
}

.footer {
  padding: 20px 0;
  margin-top: auto;
  box-shadow: 0 -5px 5px $shadow-color;
}

.hero {
  font-size: $font-upper-medium;
  color: rgb(255 255 255 / 0%);
  text-align: center;
  text-shadow: 1px 1px 1px $text-primary-color;
  background-image: linear-gradient(to right, rgb(0 0 0), rgb(255 255 255));
  background-clip: text;

  @media (min-width: $desktop-width) {
    font-size: $font-large;
  }
}
